<!DOCTYPE html>
<html>
  <head>START ADDING YOUR NOTES HERE
  </head>


             <style>
       body {
               background-color: rgb(140,190,140)
           }
         </style>



  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <body>
    <div class="w3-container">


  	<form method="POST" action="/addnote" id="add">
              <p>ADD YOUR NOTES HERE</p>

      Title:<br>
      <textarea rows="2" cols="90" type="text" name="title" id ="nameInput"   placeholder="SO WHATS YOUR TITLE??.."></textarea><br/><br/>
      Subject:<br>
      <textarea  rows="20" cols="90" type ="text"  name="subject" id ="nameInput"   placeholder="YOUR NOTES.."></textarea><br/>
      <button type = "submit" class="w3-btn w3-black" id = "submit1">ADD IT</button><br>
  	</form>
  </div>
  </body>
</html>
