<!DOCTYPE html>
<html>
  <head>
              THIS IS LOGIN PAGE<br/>
              <br/>

              <style>
        body {
                background-color: rgb(120,170,140)
            }
          </style>



  </head>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



  <body>

    <div class="w3-container">

  	      <form method="post" action="/login">

		                  username: &nbsp &nbsp<input type="text" name="username" id ="nameInput"><br/></br>
	                    password: &nbsp &nbsp<input type ="password"  name="password" id ="passwordInput"><br/></br>

	                    <button type="submit" class="w3-btn w3-black" >login</button>


   </body>
</html>
